{{ $image := partialCached "helper/image" (dict "Context" .context "Type" .Type) .context.RelPermalink .Type }}
{{- $usesFallbackImage := and (not $image.exists) (or (eq .Type "taxonomy") (eq .Type "section")) -}}
<article class="{{ if or $image.exists $usesFallbackImage }}has-image{{ end }}">
    <a href="{{ .context.RelPermalink }}">
        
        {{ if or $image.exists (or (eq .Type "taxonomy") (eq .Type "section")) }}
            <div class="article-image">
                {{ if $image.exists }}
                    {{ if $image.resource }}
                        {{- $imageRaw := $image.resource | resources.Fingerprint "md5" -}}
                        {{- $Permalink := $imageRaw.RelPermalink -}}
                        {{- $Width := $imageRaw.Width -}}
                        {{- $Height := $imageRaw.Height -}}

                        {{- if .context.Site.Params.imageProcessing.cover.enabled -}}
                            {{- $thumbnail := $imageRaw.Fill .size -}}
                            {{- $Permalink = $thumbnail.RelPermalink -}}
                            {{- $Width = $thumbnail.Width -}}
                            {{- $Height = $thumbnail.Height -}}
                        {{- end -}}
                        
                        <img src="{{ $Permalink }}" 
                            width="{{ $Width }}" 
                            height="{{ $Height }}" 
                            loading="lazy"
                            alt="Featured image of post {{ .context.Title }}"
                            {{ with .context.Slug }}data-key="{{ . }}" {{ end }}
                            data-hash="{{ $imageRaw.Data.Integrity }}">
                    {{ else }}
                        <img src="{{ $image.permalink }}" loading="lazy" data-key="{{ .context.Slug }}" data-hash="{{ $image.permalink }}"/>
                    {{ end }}
                {{ else }}
                    {{- $cover := printf "https://picsum.photos/seed/fuyou-%s/600/338" (md5 .context.RelPermalink) -}}
                    <img src="{{ $cover }}" loading="lazy" alt="Landscape cover for {{ .context.Title }}" data-key="{{ .context.RelPermalink }}" data-hash="{{ md5 .context.RelPermalink }}"/>
                {{ end }}
            </div>
        {{ end }}

        <div class="article-details">
            <h2 class="article-title">
                {{- .context.Title -}}
            </h2>
        </div>
    </a>
</article>
